@font-face {
	font-family: 'El Messiri';
	src: url('../fonts/ElMessiri-Bold.eot');
	src: local('☺'), url('../fonts/ElMessiri-Bold.woff') format('woff'), url('../fonts/ElMessiri-Bold.ttf') format('truetype'), url('../fonts/ElMessiri-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova-Bold.eot');
	src: local('☺'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova-Light.eot');
	src: local('☺'), url('../fonts/ProximaNova-Light.woff') format('woff'), url('../fonts/ProximaNova-Light.ttf') format('truetype'), url('../fonts/ProximaNova-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: local('☺'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova-Semibold.eot');
	src: local('☺'), url('../fonts/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova-Semibold.ttf') format('truetype'), url('../fonts/ProximaNova-Semibold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	background-color: #162831;
	color: #fff;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; color: #fff;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

[class*="__container"] {
	max-width: 1315px;
	margin: 0 auto;
	padding: 0 10px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}
.main{
	flex: 1 1 auto;
}
body._lock {
	overflow: hidden;
}
.menu__body._active {
	left: 0;
}
.menu__icon._active span {
	transform: scale(0);
}
.menu__icon._active::before {
	top: 50%;
	transform: rotate(-45deg) translate(0, -65%);
}
.menu__icon._active::after {
	bottom: 50%;
	transform: rotate(45deg) translate(0, 65%);
}

/* ---------------------------- */

.header {
	z-index: 10;
}
.header__container {
	display: flex;
	min-height: 121px;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	z-index: 5;
}
.header__menu {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@media (min-width: 948px) {
	.menu__list {
		display: flex;
		gap: 50px;
	}
}
.menu__link {
	font-family: 'Proxima Nova';
	font-weight: 400;
	font-size: 14px;
	line-height: 135%;
	color: #FFFFFF;
}
.menu__icon {
	display: none;
}
.header__button {
	width: 155px;
	height: 36px;
	background: #018ABE;
	border-radius: 3px;
	font-family: 'Proxima Nova';
	font-weight: 600;
	font-size: 13px;
	line-height: 140%;
	color: #FFFFFF;
	z-index: 5;
}

/* ---------------------------- */
@media (max-width: 948px) {
	.menu__icon {
		z-index: 5;
		position: relative;
		width: 31px;
		height: 21px;
		cursor: pointer;
		left: 0;
		display: block;
	}
	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		left: 0;
		position: absolute;
		width: 100%;
		height: 10%;
		transition: all 0.3s ease 0s;
		background-color: #fff;
	}
	.menu__icon::before,
	.menu__icon::after {
		content: '';
	}
	.menu__icon::before {
		top: 0;
	}
	.menu__icon::after {
		bottom: 0;
	}
	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0, -50%);
	}
	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100vw;
		height: 100vh;
		background-color: #162831;
		padding: 130px 30px 30px 30px;
		transition: left 0.3s ease 0s;
	}
	.header__menu {
		justify-content: flex-end;
		align-items: center;
		gap: 25px;
	}
	.header__button {
		order: -1;
	}
	.menu__list {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
	.menu__link {
		font-family: 'Proxima Nova';
		font-weight: 400;
		font-size: 22px;
		line-height: 135%;
		color: #FFFFFF;
	}
}
@media(max-width: 320px) {
	.header__menu {
		gap: 14px;
	}
}