@font-face {
	font-family: 'El Messiri';
	src: url('../fonts/ElMessiri-Bold.eot');
	src: local('☺'), url('../fonts/ElMessiri-Bold.woff') format('woff'), url('../fonts/ElMessiri-Bold.ttf') format('truetype'), url('../fonts/ElMessiri-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova-Bold.eot');
	src: local('☺'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova-Light.eot');
	src: local('☺'), url('../fonts/ProximaNova-Light.woff') format('woff'), url('../fonts/ProximaNova-Light.ttf') format('truetype'), url('../fonts/ProximaNova-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: local('☺'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova-Semibold.eot');
	src: local('☺'), url('../fonts/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova-Semibold.ttf') format('truetype'), url('../fonts/ProximaNova-Semibold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	background-color: #162831;
	color: #fff;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; color: #fff;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

[class*="__container"] {
	max-width: 1325px;
	margin: 0 auto;
	padding: 0 15px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}
.main{
	flex: 1 1 auto;
}
body._lock {
	overflow: hidden;
}
.menu__body._active {
	left: 0;
}
.menu__icon._active span {
	transform: scale(0);
}
.menu__icon._active::before {
	top: 50%;
	transform: rotate(-45deg) translate(0, -65%);
}
.menu__icon._active::after {
	bottom: 50%;
	transform: rotate(45deg) translate(0, 65%);
}

/* ---------------------------- */

.header {
	z-index: 10;
}
.header__container {
	display: flex;
	min-height: 121px;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	z-index: 5;
}
.header__menu {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@media (min-width: 948px) {
	.menu__list {
		display: flex;
		gap: 50px;
	}
}
.menu__link {
	font-family: 'Proxima Nova';
	font-weight: 400;
	font-size: 14px;
	line-height: 135%;
	color: #FFFFFF;
}
.menu__icon {
	display: none;
}
.header__button {
	width: 155px;
	height: 36px;
	background: #018ABE;
	border-radius: 3px;
	font-family: 'Proxima Nova';
	font-weight: 600;
	font-size: 13px;
	line-height: 140%;
	color: #FFFFFF;
	z-index: 5;
}

/* ---------------------------- */

@media (max-width: 948px) {
	.menu__icon {
		z-index: 5;
		position: relative;
		width: 31px;
		height: 21px;
		cursor: pointer;
		left: 0;
		display: block;
	}
	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		left: 0;
		position: absolute;
		width: 100%;
		height: 10%;
		transition: all 0.3s ease 0s;
		background-color: #fff;
	}
	.menu__icon::before,
	.menu__icon::after {
		content: '';
	}
	.menu__icon::before {
		top: 0;
	}
	.menu__icon::after {
		bottom: 0;
	}
	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0, -50%);
	}
	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100vw;
		height: 100vh;
		background-color: #162831;
		padding: 130px 30px 30px 30px;
		transition: left 0.3s ease 0s;
	}
	.header__menu {
		justify-content: flex-end;
		align-items: center;
		gap: 25px;
	}
	.header__button {
		order: -1;
	}
	.menu__list {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
	.menu__link {
		font-family: 'Proxima Nova';
		font-weight: 400;
		font-size: 22px;
		line-height: 135%;
		color: #FFFFFF;
	}
}
@media(max-width: 320px) {
	.header__menu {
		gap: 14px;
	}
}

/* ---------------------------- */

.ritmstyle__bg {
	background: url(../img/ritmstyle-background.jpg);
	width: 100%;
	height: 600px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
	gap: 40px;
}
.ritmstyle__text {
	position: relative;
	font-family: 'El Messiri';
	font-weight: 700;
	font-size: calc(18px + 6 *(100vw / 1325));
	line-height: 140%;
}
.ritmstyle__text::before,
.ritmstyle__text::after {
	content: '';
}
.ritmstyle__text::before {
	position: absolute;
	top: 20%;
	left: -66px;
	background: url(../img/before-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 28px;
	height: 14px;
}
.ritmstyle__text::after {
	background: url(../img/after-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 28px;
	height: 14px;
	position: absolute;
	top: 20%;
	right: -66px;
}
.ritmstyle__title {
	font-family: 'El Messiri';
	font-weight: 700;
	font-size: calc(34px + 30 *(100vw / 1315));
	line-height: 140%;
	text-align: center;
}
@media(max-width: 768px) {
	.ritmstyle__bg {
		background-position: right;
	}
}
@media(max-width: 480px) {
	.ritmstyle__text::before {
		left: -43px;
	}
	.ritmstyle__text::after {
		right: -43px;
	}
	.ritmstyle__bg {
		background-position: center right -150px;
	}
}
@media(max-width: 320px) {
	.ritmstyle__bg {
		background-position: center right -200px;
	}
}

/* ---------------------------- */

.session {
	margin-top: 150px;
}
.session__container {
	display: flex;
	flex-direction: column;
}
.session__title {
	margin-bottom: 100px;
	align-self: center;
	display: inline-block;
	position: relative;
	font-family: 'El Messiri';
	font-weight: 700;
	font-size: calc(12px + 36 * (100vw / 1325));
	line-height: 140%;
	color: #FFFFFF;
}
.session__title::before,
.session__title::after {
	content: '';
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 28px;
	height: 14px;
}
.session__title::before {
	background: url(../img/before.svg);
	top: 30%;
	left: -66px;
}
.session__title::after {
	background: url(../img/after.svg);
	top: 30%;
	right: -66px;
}
.session__grid { 
	display: grid; 
	grid-template-columns: repeat(3, minmax(1fr, 416px)); 
	grid-template-rows: repeat(2, minmax(258px, 1fr)); 
	grid-column-gap: 0px;
	grid-row-gap: 0px; 
	gap: 24px;
}
.grid-item__1 { grid-area: 1 / 1 / 3 / 2; } 
.grid-item__2 { grid-area: 1 / 2 / 2 / 3; } 
.grid-item__3 { grid-area: 1 / 3 / 2 / 4; } 
.grid-item__4 { grid-area: 2 / 2 / 3 / 3; } 
.grid-item__5 { grid-area: 2 / 3 / 3 / 4; } 
.grid-item__text {
	font-family: 'El Messiri';
	font-weight: 700;
	font-size: calc(10px + 14 *(100vw / 1325));
	line-height: 140%;
}
.grid-item__text p {
	max-width: 336px;
}
.grid-item__bg {
	background: url(../img/standart.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.grid-item__bg-big {
	background: url(../img/standart.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
}
.grid-item-big {
	display: flex;
	align-items: flex-end;
	padding: 0 0 50px 50px;
}
.grid-item {
	display: flex;
	align-items: flex-end;
	padding: 0 0 30px 40px;
}
@media(max-width: 768px) {
	.session {
		margin-top: 100px;
	}
	.session__title {
		margin-bottom: 65px;
	}
	.grid-item-big {
		display: flex;
		align-items: flex-end;
		padding: 0 25px 25px 25px;
	}
	.grid-item {
		display: flex;
		align-items: flex-end;
		padding: 0 20px 15px 20px;
	}
	.session__grid { 
		grid-template-columns: repeat(2, minmax(1fr, 416px)); 
		grid-template-rows: repeat(3, minmax(258px, 1fr)); 
		gap: 24px;
	}
	.grid-item__1 { grid-area: 1 / 1 / 3 / 2; } 
	.grid-item__2 { grid-area: 1 / 2 / 2 / 3; } 
	.grid-item__3 { grid-area: 2 / 2 / 3 / 3; } 
	.grid-item__4 { grid-area: 3 / 1 / 4 / 2; } 
	.grid-item__5 { grid-area: 3 / 2 / 4 / 3; } 
}
@media (max-width: 480px) {
	.session {
		margin-top: 50px;
	}
	.session__title {
		margin-bottom: 50px;
	}
	.session__grid { 
		grid-template-columns: 1fr; 
		grid-template-rows: repeat(5, minmax(258px, 1fr)); 
		gap: 24px;
	}
	.grid-item__1 { grid-area: 1 / 1 / 2 / 2; } 
	.grid-item__2 { grid-area: 2 / 1 / 3 / 2; } 
	.grid-item__3 { grid-area: 3 / 1 / 4 / 2; } 
	.grid-item__4 { grid-area: 4 / 1 / 5 / 2; } 
	.grid-item__5 { grid-area: 5 / 1 / 6 / 2; } 
	.grid-item-big {
		display: flex;
		align-items: flex-end;
		padding: 0 30px 30px 30px;
	}
	.grid-item {
		display: flex;
		align-items: flex-end;
		padding: 0 30px 30px 30px;
	}
	.grid-item__text {
		font-family: 'El Messiri';
		font-weight: 700;
		font-size: 18px;
		line-height: 140%;
	}
}

/* ---------------------------- */

.slider {
	margin: 100px 100px 0 100px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.slider__title {
	margin-bottom: 100px;
	display: inline-block;
	position: relative;
	align-self: center;
	font-family: 'El Messiri';
	font-weight: 700;
	font-size: calc(12px + 36 * (100vw / 1325));
	line-height: 140%;
	color: #FFFFFF;
}
.slider__title::before,
.slider__title::after {
	content: '';
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 28px;
	height: 14px;
}
.slider__title::before {
	background: url(../img/before.svg);
	top: 30%;
	left: -66px;
}
.slider__title::after {
	background: url(../img/after.svg);
	top: 30%;
	right: -66px;
}
.swiper-container {
	width: 636px;
	height: 350px;
	padding-bottom: 60px;
}
.swiper-slide {
	padding: 50px 60px;
	background: #018ABE;
	border-radius: 10px;
}
.slide__name {
	display: block;
	margin-bottom: 20px;
	font-family: 'Proxima Nova';
	font-weight: 700;
	font-size: 20px;
	line-height: 140%;
}
.slide__text {
	font-family: 'Proxima Nova';
	font-weight: 300;
	font-size: 14px;
	line-height: 140%;
}
@media(max-width: 480px) {
	.swiper-container {
		width: 100%;
		padding-bottom: 60px;
	}
}